.section {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  padding: $base-padding $base-padding * 8;

  &-info {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    font-weight: 300;
  }
}

.back__btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.playlist {
  &-img {
    width: 20rem;
    border-radius: $base-border-radius * 5;
  }
  &-name {
    margin-bottom: 1.5rem;
    color: $color-primary-alt;
  }

  &-description,
  &-stat {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  &-buttons {
    margin: 3rem 0 1rem;
    display: flex;
  }

  &-btn {
    background-color: $color-dark;
    padding: $base-padding $base-padding * 2;
    border-radius: 10rem;
    border: none;
    color: $color-light;
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
.btn-like {
  color: $color-error;
  font-size: 1.5rem;
  background-color: $color-dark;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  padding: $base-padding;
  border: none;
}

.song {
  width: 100%;
  margin: 1rem auto;
  padding: $base-padding * 2;
  border-radius: $base-border-radius * 3;
  background-color: $color-dark-alt;
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: left;
  display: table;
  &.playing {
    background-color: rgba($color-secondary, 0.6);
  }

  &:hover {
    & > .song-img::before,
    & .song-btnPlay {
      opacity: 1;
    }
  }

  &-img {
    position: relative;
    width: 5%;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-secondary, 0.3);
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &-btnPlay {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-light;
    font-size: 2rem;
    opacity: 0;
    transition: all 0.2s;
  }

  &-options {
    color: $color-secondary;
    text-align: right;
  }
  &-type {
    width: 20%;
  }
  &-duration {
    width: 20%;
  }
  &-title {
    width: 40%;
  }
  &-like {
    font-size: 2rem;
    width: 5%;
    color: $color-secondary;
  }

  & > * {
    display: table-cell;
    vertical-align: middle;
    &:not(:first-child) {
      padding-left: 1rem;
    }
  }
}

.song_artistname {
  position: relative;
  margin-top: 2px;
  margin-right: 3px;

  &:not(:last-child):after {
    position: absolute;
    bottom: 0;
    right: -3px;
    content: ',';
    color: #fff;
  }
}
