.header {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: $base-padding $base-padding * 3;
}

.navToggle {
  display: none;
  background-color: transparent;
  font-size: 3rem;
  color: $color-light;
  margin-top: 1rem;
  border: none;

  @include md {
    display: block;
    z-index: 2000;
  }
}

.logo {
  &-box {
    font-size: 2rem;
    position: relative;
  }

  &-icon {
    position: absolute;

    &-1 {
      top: -8px;
      left: -8px;
      color: $color-secondary;
    }

    &-2 {
      color: $color-primary-alt;
    }
  }
}

.searchbar {
  background-color: rgba($color-dark-alt, 0.3);
  border-radius: $base-border-radius * 2;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: $base-padding $base-padding * 2;
  width: 40%;
  color: $grey-dark-3;

  input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-family: inherit;
    color: $color-light;
  }
}
