.sidebar {
  padding: $base-padding * 2 0;
  width: 5%;

  @include md {
    position: absolute;
    overflow: hidden;
    z-index: 100000;
    width: 100%;
    background-color: $color-dark-alt;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  &-section {
    background-color: $color-dark-alt;
    text-align: center;
    padding: $base-padding * 2;
    border-radius: 5rem;
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &-icon {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: $grey-dark-3;
    cursor: pointer;
    transition: all 0.2s;
    background-color: transparent;
    outline: none;
    border: none;
    display: block;

    &:hover {
      transform: scale(1.25);
      color: $color-secondary;
    }
    &.active {
      color: $color-secondary;
    }
  }
}
