@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include lg {
    // width < 1200?
    font-size: 60%; //1 rem = 9px, 9/16 = 50%
  }

  @include md {
    // width < 900?
    font-size: 60%; //1 rem = 8px, 8/16 = 50%
  }

  @include xl {
    font-size: 75%; //1rem = 12, 12/16
  }
}
body {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: $color-dark;
  color: $color-light;
  padding-bottom: 15rem;
}

::selection {
  background-color: $color-secondary;
  color: $color-light;
}

ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 $base-padding * 2;
  box-sizing: border-box;
}
.background-image {
  position: absolute;
  width: 100%;
  height: 65vh;
  opacity: 0.3;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;

  img {
    width: 100%;
  }
}
.background-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba($color-dark, 0.9),
    25%,
    rgba($color-dark, 0.5),
    50%,
    transparent
  );
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.content {
  width: 95%;
}

body::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba($grey-dark-3, $alpha: 0.5);
}
